<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="<appCreator.android.main.groupId>"
    android:versionCode="1"
    android:versionName="1.0-snapshot" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="<appCreator.android.main.groupId>.screen.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
		<activity android:name="<appCreator.android.main.groupId>.screen.UpdateTicketScreen" >
        </activity>
        <activity android:name="<appCreator.android.main.groupId>.screen.NewTicketScreen" >
        </activity>
        
        <receiver android:name="org.openmobster.core.mobileCloud.api.ui.framework.push.PushBroadcastReceiver" >
            <intent-filter>
                <action android:name="<appCreator.android.main.groupId>" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.openmobster.core.mobileCloud.push.StartSyncBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.openmobster.sync.start" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.openmobster.core.mobileCloud.push.StartSync"
            android:exported="false" >
        </service>

        <receiver android:name="org.openmobster.core.mobileCloud.push.NetworkStartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.openmobster.core.mobileCloud.push.StartNetwork"
            android:exported="false" >
        </service>

        <receiver android:name="org.openmobster.core.mobileCloud.android.module.connection.ActivatePushSocket" >
        </receiver>

        <service
            android:name="org.openmobster.core.mobileCloud.android.module.connection.BackgroundActivatePushSocket"
            android:exported="false" >
        </service>
        
        <receiver android:name="org.openmobster.core.mobileCloud.android.module.connection.DeadSocketDetector">
            <intent-filter>
                    <action android:name="<appCreator.android.main.groupId>" />
            </intent-filter>
        </receiver>
        <service android:name="org.openmobster.core.mobileCloud.android.module.connection.DeadSocketService" android:exported="false">
    	</service>
    </application>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="11" />

</manifest>