<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
    	<servlet-name>openmobster_agent_installer_rimos</servlet-name>
    	<servlet-class>org.openmobster.core.agent.provisioning.AgentInstaller</servlet-class>
  	</servlet>  
  	<servlet>
    	<servlet-name>openmobster_agent_installer_android</servlet-name>
    	<servlet-class>org.openmobster.core.agent.provisioning.AndroidAgentInstaller</servlet-class>
  	</servlet> 
  	
  	<servlet-mapping>
    	<servlet-name>openmobster_agent_installer_rimos</servlet-name>
    	<url-pattern>/apps/*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>openmobster_agent_installer_android</servlet-name>
    	<url-pattern>/android/*</url-pattern>
  	</servlet-mapping>
  	
  	<mime-mapping>
		<extension>jad</extension>
		<mime-type>text/vnd.sun.j2me.app-descriptor</mime-type>
	</mime-mapping>	
	<mime-mapping>
		<extension>jar</extension>
		<mime-type>application/java-archive</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cod</extension>
		<mime-type>application/vnd.rim.cod</mime-type>
	</mime-mapping>  
	<mime-mapping>
		<extension>apk</extension>
		<mime-type>application/vnd.android.package-archive</mime-type>
	</mime-mapping> 	
</web-app>